@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
	/* Background Color */
	--dark-bg-color: #000000;
	--light-bg-color: #f5deb3;

	/* Text Color */
	--dark-text-color: #000000;
	--light-text-color: #f5deb3;

	--bg-image-url: url("./assets/images/coffee.jpg");

	/* Link Color */
}

@font-face {
	font-family: "MrGrieves";
	src: local("MrGrieves"),
		url("./assets/fonts/Mr-Grieves/MrGrieves-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Basement";
	src: local("Basement"),
		url("./assets/fonts/Basement/Basement-Medium.ttf") format("truetype");
}

.font-face-mr-grieves {
	font-family: "MrGrieves";
}

.font-face-basement {
	font-family: "Basement";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: var(--dark-bg-color);
	height: 100vh;
}

a {
	text-decoration: none;
	color: var(--light-text-color);
}

p {
	line-height: 1.7;
}

ul {
	list-style: none;
}

li {
	line-height: 2.2;
}

h1,
h2,
h3 {
	font-weight: 600;
	margin-bottom: 10px;
}

.container {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;
}

.heading {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 50px;
	padding: 0 20px;
}

.heading p {
	color: #828282;
}

.goals {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}
